@import 'tailwindcss';

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
/* 커스텀 유틸리티 */
@theme {
  --color-primary: #8349ff; /* 메인색상 */
  --color-secondary: #f9f5ff; /* 보조색상 */
  --color-primary-hover: #6b3acb; /* 메인색상 호버 */
  --color-secondary-hover: #f2e9ff; /* 보조색상 호버 */
  --color-secondary-textHover: #6e32ff; /* 보조색상 텍스트 호버 */
  --color-dropDown-hover: #f1eaff; /*  */
  --color-text: #121212; /* 기본 텍스트 색상 */
  --color-text2: #4d4d4d; /* 보조 텍스트 색상 (기본색상보다 조금 연함)*/
  --color-text3: #ffffff; /* 흰색 텍스트 색상 */
  --color-text4: #bdbdbd; /* 회색 텍스트 색상 */
  --color-alertText: #fb2150; /* 경고 텍스트 색상 */
  --color-bg: #212429; /* 어두운배경색상 */
  --color-disabled-fill: #ececec; /* 비활성화된 요소의 배경색상 */
  --color-disabled-text: #cecece; /* 비활성화된 요소의 텍스트 & 외곽선 색상 */
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/font/PretendardVariable.woff2') format('woff2');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Pretendard', sans-serif;
}
